{{ define "content" }}
  <div >
    <form hx-get="/expand/html" hx-trigger="submit">
      <input
        hx-get="/items"
        hx-trigger="use from:body"
        hx-target="#items"
        x-model="search"
        x-ref="input"
        @keyup.debounce="$dispatch('use')"
        @keyup.esc.prevent="search = ''; $nextTick(() => { $dispatch('use'); $refs.input.focus() })"
        @keydown.ctrl.enter.prevent="window.open(expandURL, '_blank'); $nextTick(() => { $dispatch('expand') })"
        name="q"
        type="text"
        autocomplete="off"
      />
    </form>
    <div hx-get="/items" hx-trigger="load" id="items"></div>
  <div class="logs-container">
    <div
      hx-get="/logs"
      hx-trigger="load, expand from:body delay:1s, use from:body"
      :hx-vals='JSON.stringify({"q": $data.search})'
      id="logs"
    ></div>
  </div>

  </div>
{{ end }}
